.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  max-width: 1140px;
  margin: 15px auto 0;
}

.explainBox{
  background: #fff;
  padding: 20px;
  margin: 12px;
  border-radius: 15px;
  font-family: 'LATO';
}

.paragraph {
  margin: 10px;
  line-height: 20px;
}

.boxChart {
  display: flex;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  margin: -145px 0 20px;
  z-index: 1;
  padding: 20px;
  flex-direction: column;
  position: relative;
}
.rowChart {
  display: flex;
  width: 100%;
}
.rowCard{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.row {
  display: flex;
  width: 100%;
  background: #fff;
  height: 300px;
  border-radius: 10px;
  margin-top: -145px;
  z-index: 1;
  padding: 15px;
  border: 2px solid #b9b9b9;
}

.itemChart {
  display: flex;
  flex: 1;
  width: 200px;
}

.card {
  display: flex;
  height: 90px;
  flex: 1 1;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  min-width: 240px;
  background: #fff;
}
.image {
  height: 90px;
  width: 90px;
  border-right: 1px solid #ccc;
  padding: 15px;
  background: #f8fdfc;
}

.description {
  flex: 1;
  padding: 10px;
}
.title {
  font-size: 16px;
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
}

.count {
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin: 10px 0;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
}

.userName {
  font-size: 20px;
  font-family: 'LATO';
  font-weight: bold;
  padding: 10px;
  position: absolute;
  top: -40px;
  left: 0;
}

.feedbackBox {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}

.input{
  width: 100%;
}

.feedback {
  width: 100%;
  padding: 20px 30px;
  background: #ccecf2;
  border-radius: 15px;
  font-size: 16px;
  line-height: 25px;
  font-family: monospace;
}

.inputTitle {
  margin: 5px 0;
}